<div class="nav-item px-3">
    <!-- NavLink gère la classe css 'active' automatiquement -->
    <NavLink class="nav-link" href="dashboard">
        <span class="bi bi-newspaper" aria-hidden="true"></span> Dashboard
    </NavLink>
      <NavLink class="nav-link" href="converter">
        <span class="bi bi-newspaper" aria-hidden="true"></span> converte
    </NavLink>
</div>